@charset "UTF-8";
::-webkit-scrollbar{display:none;}
body{background:#161c29;}
body.active{overflow:hidden;}

// ABOUT //
.about-content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .imgbox {
        width: 50%;
        height: 100vh;
        overflow: hidden;
        img {width: auto;height: 100%;margin-left: -200px;}
    }
    .textbox {
        width: 50%;
        height: 100vh;
        padding: 10vw 0;
        box-sizing: border-box;
        overflow-y: auto;
        background: #161c29;
        
        ul li {
            line-height: 1.5;
            text-align: center;
            h4 {
                font-size: 3vw;
                color: #fff;
                font-weight: 900;
            }
            p {
                font-size: 3vw;
                color: #fff;
                font-weight: 900;
            }
            .desc {
                //text-align: left;
                font-size: 2vw;
            }
        }
        ul li + li{margin-top: 2vw;}
    }
}
// end: ABOUT //

// CONTACT //
.sub-content {
    transition: all 0.4s;
    .horiz-text {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        span {
            opacity: 0;
            font-size: 9vw;
            font-weight: 900;
            background: linear-gradient(360deg, rgba(255, 255, 255, 0) 10%, #fff 80%);
            color: transparent;
            -webkit-background-clip: text;
        }
    }
    .horiz-text.active {
        span {
            opacity: 1;
            //position: relative;
            animation: waviy 3s;
            animation-delay: calc(.1s * var(--i));
        }
    }
    .subsection {
        background: #fff;
        .section-inner {
            position: relative;
            overflow: hidden;
            .pc {
                display: block;
                width: 45%;
                width: 770px;
                margin: 200px auto 0;
            }
            .section-table {
                position: absolute;
                top: 222px;
                left: 50%;
                transform: translateX(-50%);
                width: 720px;
                height: 412px;
                // width: 41.5%;
                // height: 42.5%;
                padding: 20px;
                box-sizing: border-box;
                background: #fff;
                .table-tr {
                    display: flex;
                    align-items: center;
                    justify-content: start;
                    .table-th {
                        width: 30%;
                        font-size: 24px;
                        font-weight: 500;
                        color: #111;
                    }
                    .table-td {
                        width: 70%;
                        font-size: 24px;
                        color: #111;
                        text-align: left;
                        padding: 10px 0;
                        .tbinput {
                            width: 100%;
                            height: 40px;
                            display: block;
                            position: relative;
                            input {
                                font-size: 24px;
                                outline:none;
                                width:100%;
                                padding: 0 10px;
                            }
                            textarea {
                                font-size: 24px;
                                outline:none;
                                width:100%;
                                resize: none;
                                border:0;
                                height: 80px;
                                padding: 10px;
                                box-sizing: border-box;
                            }
                            label {
                                position: absolute;
                                left:0;
                                bottom: 0;
                                pointer-events:none;
                                width: 100%;
                                height: 100%;
                                span {
                                    color: #939393;
                                    font-weight: 300;
                                    position:absolute; 
                                    left:0; 
                                    bottom: 10px;
                                    transition:all .3s ease; 
                                }
                            }
                            label:after {
                                content:""; 
                                position:absolute; 
                                left:0; bottom:-1px; 
                                width:0; 
                                height:100%; 
                                border-bottom:3px solid #17f5a4; 
                                transition:all .3s ease; 
                            }
                            input:focus + label span, 
                            input:valid + label span { 
                                transform:translateY(-150%); 
                                font-size:14px; 
                                color:#17f5a4;
                                bottom: 18px; 
                            }
                            input:focus + label::after,
                            input:valid + label::after {
                                width:100%; 
                                transform:translateX(0); 
                            } 
                            textarea + label{
                                span{bottom: 28px;}
                            }
                            textarea + label:after {
                                content:""; 
                                position:absolute; 
                                left:0; top:0px; 
                                width:0; 
                                height:0%; 
                                border:3px solid #17f5a4;
                                box-sizing: border-box;
                                opacity: 0;
                                transition:all .3s ease;
                            }
                            textarea:focus + label span, 
                            textarea:valid + label span { 
                                transform:translateY(-150%); 
                                font-size:14px; 
                                color:#17f5a4;
                                bottom:65px; 
                            }
                            textarea:focus + label::after,
                            textarea:valid + label::after {
                                width:100%;
                                height:100%;
                                opacity: 1;
                                transform:translateX(0); 
                            }
                        }
                        .tbinput.area {height:80px;}
                    }
                }
                .table-tr + .table-tr {margin-top: 20px;}
                .btnwrap {
                    display:flex;
                    justify-content: end;
                    margin-top: 10px;
                    .btn-hov {width: 100px;text-align: center;}
                }
                .mail .copy {
                    color: #111;
                    border-bottom: 1px solid #111;
                    font-size: 18px;
                    margin-left:20px;
                }
            }
            .refouter {
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
                
                .ref-left {
                    width: 40%;
                    height: 100vh;
                    display: flex;
                    align-items: flex-start;
                    justify-content: center;
                    background: linear-gradient(#fff,#f6f6fb);
                    p {
                        font-size: 3vw;
                        font-weight: 500;
                        margin-top: 10vw;
                    }
                }
                .ref-list {
                    width: 60%;
                    .refitem {
                        height: 100vh;
                        .title {
                            font-size: 5vw;
                            font-weight: 900;
                            padding-top: 5vw;
                        }
                        ul {
                            padding: 2vw;
                            display: flex;
                            justify-content: start;
                            li {
                                font-size: 1.2vw;
                                font-weight: 300;
                                color: #fe271a;
                                margin: 0 2vw;
                            }
                        }
                        .explanation {
                            width: 800px;
                            line-height: 1.5;
                        }
                        .refbox {
                            position: relative;
                            margin-top: 30px;
                            .refimg {
                                overflow: hidden;
                                position: absolute;
                                background: url('../../img/ref/우리금융저축은행2023.jpg');
                                background-size: 1050px;
                                background-repeat: no-repeat;
                                img {
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    z-index: -1;
                                    transition: all 0.4s;
                                    width: 200%;
                                }
                                .img {
                                    visibility: hidden;
                                }
                                .hov {
                                    width: 100%;
                                    height: 100%;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    flex-direction: column;
                                    opacity: 0;
                                    transition: all 0.4s;
                                    background: rgba(0,0,0,0.5);
                                    p {
                                        //color: #fff;
                                        color: #ffbf0f;
                                        font-size: 30px;
                                        font-weight: 600;
                                        line-height: 1.2;
                                        text-align: center;
                                    }
                                    .btn-link {
                                        display: block;
                                        text-align: center;
                                        color: #ffbf0f;
                                        margin-top: 20px;
                                    }
                                    .btn-link:hover {
                                        color: #fff;
                                    }
                                }
                            }
                            .refimg:hover {z-index: 6 !important;}
                            .refimg:hover .hov{
                                opacity: 1;
                            }
                            .refimg:hover img {
                                transition-duration: 5s;
                            }
                        }
                    }
                    .refitem + .refitem {margin-top: 100px;}
                    .refitem.st {
                        .refbox {
                            .r1 {
                                width: 300px;height: 400px;
                                background: url('../../img/page/sub/우리썸네일.jpg');
                                background-size: 300px auto;
                                top: 0;left: 0;z-index: 4;
                            }
                            .r2 {
                                width: 400px;height: 400px;
                                background: url('../../img/page/sub/의과대학1.jpg');
                                top: 50px;left: 200px;z-index: 3;
                            }
                            .r3 {
                                width: 400px;height: 500px;
                                background: url('../../img/page/sub/안암썸네일.jpg');
                                top: 0;left: 400px;z-index: 2;
                            }
                            .r4 {
                                width: 400px;height: 500px;
                                background: url('../../img/page/main/section4.jpg');
                                top: -50px;left: 600px;z-index: 1;
                            }
                            .r1:hover {
                                .img{
                                    visibility:visible;
                                    transform: translate(-300px,-1000px) scale(1.1);
                                }
                            }
                            .r2:hover {
                                .img{
                                    visibility:visible;
                                    transform: translate(-500px,-150px) scale(2);
                                }
                            }
                            .r3:hover {
                                .img{
                                    visibility:visible;
                                    transform: translate(-300px,-1000px) scale(1.1);
                                }
                            }
                            .r4:hover {
                                .img{
                                    visibility:visible;
                                    transform: translate(-300px,-1000px) scale(1.1);
                                }
                            }
                            
                        }
                    }
                    .refitem.nd {
                        .refbox {
                            .r1 {
                                width: 400px;height: 500px;
                                background: url('../../img/page/sub/안암썸네일.jpg');
                                top: 0;left: 0px;z-index: 3;
                            }
                            .r2 {
                                width: 300px;height: 400px;
                                background: url('../../img/page/sub/우리썸네일.jpg');
                                background-size: 300px auto;
                                top: 50px;left: 350px;z-index: 2;
                            }
                            
                            .r3 {
                                width: 400px;height: 500px;
                                background: url('../../img/page/main/section4.jpg');
                                top: 0px;left: 550px;z-index: 1;
                            }
                            
                            .r1:hover {
                                .img{
                                    visibility:visible;
                                    transform: translate(-500px,-150px) scale(2);
                                }
                            }
                            .r2:hover {
                                .img{
                                    visibility:visible;
                                    transform: translate(-300px,-1000px) scale(1.1);
                                }
                            }
                            .r3:hover {
                                .img{
                                    visibility:visible;
                                    transform: translate(-300px,-1000px) scale(1.1);
                                }
                            }
                        }
                    }
                    .refitem.th {
                        .refbox {
                            .r1 {
                                width: 400px;height: 500px;
                                top: 0;left: 0;z-index: 5;
                                background: url('../../img/page/sub/임업썸네일.jpg');
                            }
                            .r2 {
                                width: 400px;height: 400px;
                                top: 50px;left: 250px;z-index: 4;
                                background: url('../../img/page/sub/CMC썸네일.jpg');
                            }
                            .r3 {
                                width: 400px;height: 500px;
                                top: 0;left: 600px;z-index: 3;
                                background: url('../../img/page/sub/vc썸네일.jpg');
                                img {height: 100%;}
                            }
                            .r4 {
                                width: 300px;height: 400px;
                                top: 100px;left: 550px;z-index: 4;
                                background: url('../../img/page/sub/연구중심병원썸네일.jpg');
                            }
                            .r1:hover {
                                .img{
                                    visibility:visible;
                                    transform: translate(-500px,-150px) scale(2);
                                }
                            }
                            .r2:hover {
                                .img{
                                    visibility:visible;
                                    transform: translate(-300px,-800px) scale(1.1);
                                }
                            }
                            .r3:hover {
                                .img{
                                    visibility:visible;
                                    transform: translate(-250px,-50px) scale(1.5);
                                }
                            }
                            .r4:hover {
                                .img{
                                    visibility:visible;
                                    transform: translate(-250px,-50px) scale(1.5);
                                }
                            }
                        }
                    }
                }
            }
            .worklist {
                width: 100%;
                background:#f6f6fb;
                padding-bottom: 5vw;
                .title {
                    color: #343440;
                    font-size: 3vw;
                    font-weight: 900;
                    text-align: center;
                    padding: 5vw 0;
                }
                .tablewrap {
                    margin: 0 auto;
                    .table-tr {
                        width: 100%;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        border-bottom: 1px solid #ddd;
                        padding: 10px 100px;
                        box-sizing: border-box;
                        transition: all 0.2s;
                        .table-th {
                            width: 25%;
                            span {
                                display: inline-block;
                                background: #343440;
                                color:#fff;
                                font-weight: 600;
                                padding: 15px;
                                box-sizing: border-box;
                                border-radius: 5px;
                            }
                            a {
                                color:#fff;
                                font-weight: 600;
                                background:#b1b1b1;
                            }
                        }
                        .table-td {
                            .link {
                                span {
                                    background: #e5e7ed;
                                    color:#111;
                                    padding: 10px;
                                    border-radius: 5px;
                                    display: inline-block;
                                    margin-left:10px;
                                }
                            }
                        }
                        .table-td:nth-child(1){width: 15%;}
                        .table-td:nth-child(2){width: 35%;}
                        .table-td:nth-child(3){width: 20%;}
                        .table-td:nth-child(4){width: 30%;}
                        .flex {
                            span {
                                background:#e5e7ed;
                                color:#111;
                                border-radius: 5px;
                                padding: 10px;
                                box-sizing: border-box;
                            }
                            span + span {margin-left:10px;}
                        }
                    }
                    .table-tr:hover {
                        background: #fff;
                        transform: scale(1.05);
                        filter: drop-shadow(0px 10px 15px rgba(85,83,135,.1607843137));
                        .link {
                            color: #111;
                            font-weight: 500;
                            span {background: #343440;color:#fff;}
                        }
                    }
                }
            }
        }
    }
}
.sub-content.active{background: #fff;}
// end: CONTACT //



// modal //
.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1092;
    width: 30%;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.modal-content {
    padding: 50px;
    text-align: center;
    .star {
        width: 25%;
    }
    h4 {
        margin: 50px auto 20px;
        font-size: 24px;
        font-weight: 900;
    }
    p {
        line-height: 1.2;
        font-size: 20px;
    }
    .btn-hov {margin-top:20px;}
}

/* 닫기 버튼 스타일 */
.close {
    color: #aaa;
    //float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

/* Dimmed 처리 스타일 */
.dimmed {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1091;
}
// end: modal //