@charset "UTF-8";
/*@import "../fonts/font.css";*/

/* ==========================================================================
Base styles: opinionated defaults
========================================================================== */
html, button, input, select, textarea {font-family:"Pretendard";-webkit-appearance: none;-webkit-border-radius: 0;}
body,div,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,p,form,fieldset,input,table,tr,th,td{margin:0;padding:0;font-weight:normal;}
html,body {width:100%;margin:0;padding:0;font-family:"Pretendard";letter-spacing:-0.04em;font-size:18px;}
body {overflow-x:hidden;}
body.on{overflow:hidden;}
hr {display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0;}
img {vertical-align:middle;border:none;}
fieldset {border: 0; margin: 0; padding: 0;}
textarea {resize: vertical;border:1px solid #dedede;height:50px;}
input[type='text'],input[type='password'],input[type='submit'],input[type='search'],input[type='number'],input[type='tel'],input[type='date'] {-webkit-appearance:none; border-radius:0;background:transparent;border:0;height:40px;}
input:disabled{background-color: #ddd;}
a {color: var(--color-type-txt);text-decoration:none;}
a:visited {/*color:#494949;*/text-decoration:none;}
a:hover {/*color:#494949;*/text-decoration: none;}
select {font-family:"Pretendard";vertical-align:middle;height:50px;}
dd{margin:0;}
label,input{vertical-align:middle;}
ul,ol,li{list-style:none;padding:0;}
li, p { background-image:url(''); }
caption,.hidden{text-indent:-9900px;top:0;width:0;height:0;overflow:hidden;font-size:0 !important; }
table {border-spacing: 0;table-layout:fixed;}
*:first-child+html table {border-collapse:collapse;border-spacing:0;}
em {font-style:inherit;}
.cf:after{clear:both;content:"";display:block;}


:root {
	/*color*/
	--color-main:#a73b59;
	--color-sub:#e89b15;
	--color-type-bg:#EDECE9;
	--color-type-txt:#666666;
	/*font*/
	/*--font-design:'ChosunSm';*/
	/*background*/
	/*--bg:url('../../images/main/bg_mainfull.png') repeat;*/
}




/* margin + padding */
.mt0 {margin-top:0px !important;}   .mb0 {margin-bottom:0 !important;}
.mt5 {margin-top:5px !important;}   .mb5 {margin-bottom:5px !important;}
.mt10 {margin-top:10px !important;}	.mb10 {margin-bottom:10px !important;}	.mtm10 {margin-top:-10px !important;}
.mt20 {margin-top:20px !important;}	.mb20 {margin-bottom:20px !important;}	.mtm20 {margin-top:-20px !important;}
.mt30 {margin-top:30px !important;}	.mb30 {margin-bottom:30px !important;}	.mtm30 {margin-top:-30px !important;}
.mt40 {margin-top:40px !important;}	.mb40 {margin-bottom:40px !important;}	.mtm40 {margin-top:-40px !important;}
.mt50 {margin-top:50px !important;}	.mb50 {margin-bottom:50px !important;}	.mtm50 {margin-top:-50px !important;}
.ml0 {margin-left:0 !important;}
.ml5 {margin-left:5px !important;}	    .mr5 {margin-right:5px !important;}
.ml10 {margin-left:10px !important;}	.mr10 {margin-right:10px !important;}
.ml20 {margin-left:20px !important;}	.mr20 {margin-right:20px !important;}
.ml30 {margin-left:30px !important;}	.mr30 {margin-right:30px !important;}
.ml40 {margin-left:40px !important;}	.mr40 {margin-right:40px !important;}
.ml50 {margin-left:50px !important;}	.mr50 {margin-right:50px !important;}
.pt0 {padding-top:0px !important;}      .pb0 {padding-bottom:0 !important;}
.pt5 {padding-top:5px !important;}      .pb5 {padding-bottom:5px !important;}
.pt10 {padding-top:10px !important;}	.pb10 {padding-bottom:10px !important;}	/*.ptm10 {padding-top:-10px !important;}*/
.pt20 {padding-top:20px !important;}	.pb20 {padding-bottom:20px !important;}	/*.ptm20 {padding-top:-20px !important;}*/
.pt30 {padding-top:30px !important;}	.pb30 {padding-bottom:30px !important;}	/*.ptm30 {padding-top:-30px !important;}*/
.pt40 {padding-top:40px !important;}	.pb40 {padding-bottom:40px !important;}	/*.ptm40 {padding-top:-40px !important;}*/
.pt50 {padding-top:50px !important;}	.pb50 {padding-bottom:50px !important;}	/*.ptm50 {padding-top:-50px !important;}*/
.pr0 {padding-right:0px !important;}
.pl5 {padding-left:5px !important;}	    .pr5 {padding-right:5px !important;}
.pl10 {padding-left:10px !important;}	.pr10 {padding-right:10px !important;}
.pl20 {padding-left:20px !important;}	.pr20 {padding-right:20px !important;}
.pl30 {padding-left:30px !important;}	.pr30 {padding-right:30px !important;}
.pl40 {padding-left:40px !important;}	.pr40 {padding-right:40px !important;}
.pl50 {padding-left:50px !important;}	.pr50 {padding-right:50px !important;}


/* ==========================================================================
custom style
========================================================================== */
.scrollbox{
    textarea{
        box-sizing:border-box;
        overflow-y:auto;
        overflow-x:hidden;
    }
}
.scrollbox textarea::-webkit-scrollbar{
    display: block !important;
    width: 10px; 
    cursor: inherit;
}/* 스크롤바 설정 */
.scrollbox textarea::-webkit-scrollbar-thumb{
    background-color: #161c29;
    //border-radius:5px; 
    cursor: inherit;
}/* 스크롤바 막대 설정 */
.scrollbox textarea::-webkit-scrollbar-track{
    //background-color: transparent; 
    background: rgba(22, 28, 41, 0.2);
    cursor: inherit;
}/* 스크롤바 뒷 배경 설정 */
  
      

/* ==========================================================================
컨텐츠 정렬
========================================================================== */
.f_l {float:left;}
.f_r {float:right;}
.text_center {text-align:center !important;}
.text_left {text-align:left !important;}
.text_right {text-align:right !important;}

.block {display:block !important;}
.inline {display:inline !important;}
.inline_block {display:inline-block !important;}
.bordernone {border:none !important;}

.flex {display:flex;}
.flex.align-center {align-items: center;}
.flex.justify-center {justify-content: center;}


/* ==========================================================================
font style
========================================================================== */
.t_bold{font-weight:bold !important;}
.text-bold{font-weight:bold !important;}
.t_regular{font-weight:400 !important;}

.t_Pretendard {font-family:"Pretendard" !important;}
.t_NotoSans {font-family: "Noto Sans KR" !important;}

.color_main {color:var(--color-main) !important;}
.color_sub {color:var(--color-sub) !important;}

// .title-txt{font-size:30px;color:#333;font-weight:bold;}
// .subtit-txt{font-size:26px;color:#111;font-weight:500;padding-left: 20px;text-indent: -18px;}
// .sub-txt{font-size:18px;color:#666;}
// .sub-txt.space{padding-left:10px;text-indent:-7px;}


.shine {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5),
                 0 0 20px rgba(255, 255, 255, 0.5),
                 0 0 30px rgba(255, 255, 255, 0.5),
                 0 0 40px rgba(255, 255, 255, 0.5);
}


.fz14{font-size:14px !important;}  .fz15{font-size:15px !important;}  .fz16{font-size:16px !important;} .fz17{font-size:17px !important;}
.fz18{font-size:18px !important;}  .fz19{font-size:19px !important;}  .fz20{font-size:20px !important;} .fz21{font-size:21px !important;}
.fz22{font-size:22px !important;}  .fz23{font-size:23px !important;}  .fz24{font-size:24px !important;} .fz25{font-size:25px !important;}
.fz26{font-size:26px !important;}




/* ==========================================================================
btn style
========================================================================== */
.btn {padding:10px 0px;display:block;text-align: center;}
.btn span{font-size:24px;font-weight:600;}
.btn.green {
    border: 3px solid #17f5a4;
    box-sizing: border-box;
}
.btn.green span{color: #17f5a4;}
.btn.green:hover {background-color: #17f5a4;}
.btn.green:hover span {color: #fff;}

.btn-hov{
    position: relative;
    display:inline-block;
    padding:15px 30px;
    font-weight:600;
    font-size:24px;
    overflow:hidden;
    transition: 0.1s;
}
.btn-hov:hover{transition-delay: 0.5s;}
.btn-hov span{position:absolute;display:block;}
.btn-hov span:nth-child(1){
    top:0;
    left:-100%;
    width:100%;
    height:2px;
}
.btn-hov:hover span:nth-child(1){
    left:100%;
    transition: 0.5s;
}
.btn-hov span:nth-child(3){
    bottom:0;
    right:-100%;
    width:100%;
    height:2px;
}
.btn-hov:hover span:nth-child(3){
    right:100%;
    transition: 0.5s;
    transition-delay: 0.25s;
}
.btn-hov span:nth-child(2){
    top:-100%;
    right:0;
    width:2px;
    height:100%;
}
.btn-hov:hover span:nth-child(2){
    top:100%;
    transition: 0.5s;
    transition-delay: 0.125s;
}
.btn-hov span:nth-child(4){
    bottom:-100%;
    left:0;
    width:2px;
    height:100%;
}
.btn-hov:hover span:nth-child(4){
    bottom:100%;
    transition: 0.5s;
    transition-delay: 0.375s;
}
.btn-hov.green{color:#17f5a4;}
.btn-hov.green:hover{
    //color:#039b64;
    color:#161c29;
    background:#17f5a4;
    box-shadow: 0 0 10px #17f5a4, 0 0 40px #17f5a4,
                0 0 80px #17f5a4;
}
.btn-hov.green:hover span:nth-child(1){
    background:linear-gradient(90deg, transparent, #17f5a4);
}
.btn-hov.green:hover span:nth-child(3){
    background:linear-gradient(270deg, transparent, #17f5a4);
}
.btn-hov.green:hover span:nth-child(2){
    background:linear-gradient(180deg, transparent, #17f5a4);
}
.btn-hov.green:hover span:nth-child(4){
    background:linear-gradient(360deg, transparent, #17f5a4);
}
.btn-hov.yellow{color:#ffbf0f;}
.btn-hov.yellow:hover{
    //color:rgb(155, 145, 3);
    color:#161c29;
    background:#ffbf0f;
    box-shadow: 0 0 10px #ffbf0f, 0 0 40px #ffbf0f,
                0 0 80px #ffbf0f;
}
.btn-hov.yellow:hover span:nth-child(1){
    background:linear-gradient(90deg, transparent, #ffbf0f);
}
.btn-hov.yellow:hover span:nth-child(3){
    background:linear-gradient(270deg, transparent, #ffbf0f);
}
.btn-hov.yellow:hover span:nth-child(2){
    background:linear-gradient(180deg, transparent, #ffbf0f);
}
.btn-hov.yellow:hover span:nth-child(4){
    background:linear-gradient(360deg, transparent, #ffbf0f);
}


/*====================================*/
/* keyframes */
/*====================================*/
@keyframes waviy {
    0% {transform: translateY(100px);opacity: 0;}
    20% {transform: translateY(0px);}
    40% {transform: translateY(0);opacity: 1;}
    100% {transform: translateY(0);}
}

@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}


/*====================================*/
/* media */
/*====================================*/
@media (max-width: 1200px) {
    .btn-hov {
        color: #161c29 !important;
        background: #17f5a4;
        box-shadow: 0 0 10px #17f5a4, 0 0 40px #17f5a4, 0 0 80px #17f5a4;
    }
}
@media (max-width: 1024px) {
    .btn-hov {
        padding: 10px 15px;
        font-size: 3vw;
    }
}



