@charset "UTF-8";
@media print {
  #header, #header_tm, .footer, .location_bar {
    display: none;
  }
  html, body {
    width: 210mm;
    height: 297mm;
    margin: 0 auto;
  }
  .tit_sectin .inner {
    width: 210mm;
    margin: 0 auto;
  }
  #contents > .inner {
    width: 100%;
  }
}
@page {
  size: A4;
  /*margin: 4mm ;*/
}
/* skip 접근성 */
#skipNav {
  position: absolute;
  width: 100%;
  overflow: hidden;
  z-index: 1000;
}

#skipNav a {
  display: block;
  height: 1px;
  margin-bottom: -1px;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  color: #333;
  font-size: 12px;
}

#skipNav a:hover, #skipNav a:focus, #skipNav a:active {
  display: block;
  height: auto;
  padding: 5px 0;
  background: #f2f2f2;
}

:focus-visible {
  outline: 1px border #111 !important;
}

body.on {
  overflow: hidden;
}

/*====================================*/
/* header */
/*====================================*/
.header {
  border-top: 3px solid #c79a59;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  box-sizing: border-box;
  height: 104px;
  width: 100%;
  transition: all 0.4s;
}

.header .empti {
  width: 100px;
  height: 100px;
  float: left;
}

.header .gnb {
  float: left;
  margin-left: 100px;
  width: calc(100% - 200px);
  padding: 0;
}

.header h1 {
  margin-left: 30px;
}

.header h1 a {
  display: block;
  width: 307px;
  height: 138px;
}

.header h1 a img {
  position: absolute;
  top: -3px;
  z-index: 17;
}

.header h1 a .white {
  display: none;
}

.header .gnb_wrap { /*margin-left:430px;*/
  margin-left: 5%;
}

/* .header .gnb_wrap > ul > li{float:left;margin-left:106px;margin-top:38px;margin-bottom:38px;} */
.header .gnb_wrap > ul > li {
  float: left;
  margin-top: 38px;
}

.header .gnb_wrap > ul > li > a {
  font-size: 22px;
  color: #fff;
  padding: 38px 53px;
  box-sizing: border-box;
}

.header .gnb_wrap > ul > li.on > a {
  color: #a73b59 !important;
  font-weight: bold;
}

.header .gnb_wrap .gnb_con2 {
  position: absolute;
  top: 101px;
  left: 50%;
  width: 1920px;
  background: #fff;
  z-index: 2;
  transform: translateX(-50%);
  border-bottom: 1px solid #d9d9d9;
  display: none;
}

.header .gnb_wrap .gnb_con2 .mainbox, .header .gnb_wrap .gnb_con2 .subbox {
  float: left;
  padding: 0 40px;
  box-sizing: border-box;
}

.header .gnb_wrap .gnb_con2 .mainbox {
  width: 455px;
}

.header .gnb_wrap .gnb_con2 .mainbox .title {
  font-size: 30px;
  color: #a73b59;
  font-weight: bold;
  padding: 43px 0;
  line-height: 1;
  margin-top: 10px;
}

.header .gnb_wrap .gnb_con2 .icon_contents {
  border: 1px solid #ddd;
  box-sizing: border-box;
  width: 182px;
  height: 113px;
}

.header .gnb_wrap .gnb_con2 .icon_contents + .icon_contents {
  margin-top: 10px;
}

.header .gnb_wrap .gnb_con2 .icon_contents:hover .icon {
  transform: rotateY(360deg);
  transition: all 0.4s 0.1s;
}

.header .gnb_wrap .gnb_con2 .icon_contents .icon img {
  display: block;
  width: 100%;
}

.header .gnb_wrap .gnb_con2 .icon_contents > p {
  font-size: 18px;
  color: #333;
  font-weight: 500;
  margin-top: 10px;
}

.header .gnb_wrap .gnb_con2 .mainbox .rec {
  background-color: #f3f3f3;
  height: 40px;
  line-height: 40px;
  text-align: center;
}

.header .gnb_wrap .gnb_con2 .mainbox .tit {
  font-size: 18px;
  color: #111;
  font-weight: 500;
}

.header .gnb_wrap .gnb_con2 .mainbox .rec .bld {
  font-size: 18px;
  color: #111;
  font-weight: 600;
}

.header .gnb_wrap .gnb_con2 .mainbox .rec + .rec {
  margin-top: 10px;
}

.header .gnb_wrap .gnb_con2 .mainbox .con {
  margin-top: 20px;
}

.header .gnb_wrap .gnb_con2 .mainbox .btn_wrap {
  margin-top: 40px;
}

.header .gnb_wrap .gnb_con2 .mainbox.loc_01 .guitxt {
  font-size: 22px;
  color: #333;
  font-weight: 500;
  vertical-align: middle;
}

.header .gnb_wrap .gnb_con2 .mainbox.loc_01 .doc_input input {
  height: 50px;
  line-height: 50px;
  font-size: 15px;
  color: #111;
  padding: 0 20px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.header .gnb_wrap .gnb_con2 .mainbox.loc_01 .doc_input .doc_input_name {
  width: 100%;
}

.header .gnb_wrap .gnb_con2 .mainbox.loc_01 .doc_input .submit {
  width: 65px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  display: block;
}

.header .gnb_wrap .gnb_con2 .quickbox {
  float: left; /*width:206px;*/
  width: 164.8px;
  height: 256px;
  background-color: #fff;
  border-left: 1px solid #ddd;
  box-sizing: border-box;
  text-align: center;
}

.header .gnb_wrap .gnb_con2 .quickbox .icon {
  margin: 43px auto 0;
  width: 115px;
  height: 115px;
  border-radius: 50%;
  border: 1px solid #ddd;
  box-sizing: border-box;
  background-color: #f3f3f3;
}

.header .gnb_wrap .gnb_con2 .quickbox > p {
  font-size: 22px;
  color: #333;
  font-weight: 500;
  margin-top: 20px;
}

.header .gnb_wrap .gnb_con2 .quickbox:hover {
  background-color: #a73b59;
}

.header .gnb_wrap .gnb_con2 .quickbox:hover .icon {
  background-color: #fff;
}

.header .gnb_wrap .gnb_con2 .quickbox:hover > p {
  color: #fff;
}

.header .gnb_wrap .gnb_con2 .mainbox.loc_02 .guitxt span {
  font-size: 22px;
  color: #333;
  font-weight: 500;
  margin-left: 15px;
  vertical-align: middle;
}

.header .gnb_wrap .gnb_con2 .mainbox.loc_02 .user_input input {
  height: 50px;
  line-height: 50px;
  font-size: 15px;
  color: #111;
  padding: 0 20px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.header .gnb_wrap .gnb_con2 .mainbox.loc_02 .user_input .user_input_name {
  width: 132px;
}

.header .gnb_wrap .gnb_con2 .mainbox.loc_02 .user_input .user_input_phone {
  width: 180px;
  border-left: 0;
}

.header .gnb_wrap .gnb_con2 .mainbox.loc_02 .user_input .submit {
  width: 65px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  display: block;
}

.header .gnb_wrap .gnb_con2 .mainbox.loc_04 .title_contents {
  position: relative;
}

.header .gnb_wrap .gnb_con2 .mainbox.loc_04 .title_contents.f_l {
  overflow: hidden;
}

.header .gnb_wrap .gnb_con2 .mainbox.loc_04 .title_contents.f_l img {
  transition: all 0.4s;
}

.header .gnb_wrap .gnb_con2 .mainbox.loc_04 .title_contents.f_l:hover img {
  transform: scale(1.1);
}

.header .gnb_wrap .gnb_con2 .mainbox.loc_04 .title_contents > p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  color: #fff;
  font-weight: 500;
}

.header .gnb_wrap .gnb_con2 .subbox {
  border-left: 1px solid #ddd;
  box-sizing: border-box;
  width: 275px;
  height: 406px;
}

.header .gnb_wrap .gnb_con2 .subbox .title {
  display: block;
  font-size: 22px;
  color: #333;
  font-weight: 500;
  margin: 50px 0 0;
  line-height: 1;
}

.header .gnb_wrap .gnb_con2 .subbox ul {
  margin-top: 30px;
}

.header .gnb_wrap .gnb_con2 .subbox ul li a {
  display: block;
  font-size: 18px;
  color: #666;
  font-weight: 400;
  padding-bottom: 20px;
  line-height: 1;
}

.header .gnb_wrap .gnb_con2 .subbox ul li a:hover {
  color: #a73b59;
  font-weight: bold;
}

.header .gnb_wrap .gnb_con2 .subbox ul li:last-child a {
  padding: 0;
}

.header .gnb_wrap .gnb_con2 .subbox .icon_contents {
  margin-top: 50px;
}

.header .gnb_wrap .gnb_con2 .subbox .icon_contents + .icon_contents {
  margin-top: 30px;
}

.header .gnb_wrap .gnb_con2 .subbox .icon_contents:hover .icon {
  transform: rotateY(360deg);
  transition: all 0.4s 0.1s;
}

.header .menu_wrap { /*margin-top:38px;*/ }

.header .menu_wrap .login_wrap {
  display: none;
  float: left;
  margin-top: 38px;
}

.header .menu_wrap .login_wrap.on {
  display: block;
}

.header .menu_wrap .login_wrap li {
  float: left;
}

.header .menu_wrap .login_wrap li.bar:after {
  content: "";
  width: 1px;
  height: 17px;
  background: #fff;
  opacity: 0.2;
  float: left;
  margin-right: 19px;
  margin-left: 19px;
  margin-top: 5px;
}

.header .menu_wrap .login_wrap li a {
  font-size: 16px;
  color: #fff;
}

.header .menu_wrap .lang_select {
  position: relative;
  float: left;
  margin-right: 20px;
  margin-left: 19px;
  margin-top: 38px;
}

.header .menu_wrap .lang_select:before {
  content: "";
  float: left;
  width: 1px;
  height: 17px;
  background: #fff;
  opacity: 0.2;
  margin-right: 19px;
  margin-top: 5px;
}

.header .menu_wrap .lang_select > a {
  position: relative;
}

.header .menu_wrap .lang_select > a img {
  vertical-align: sub;
}

.header .menu_wrap .lang_select > a .white {
  display: none;
}

.header .menu_wrap .lang_select > a:after {
  content: "";
  display: block;
  width: 10px;
  height: 10px; /*background:url('../../images/common/btn_top_select.png') center no-repeat;*/
  position: absolute;
  top: 50%;
  margin-top: -5px;
  right: 10px;
}

.header .menu_wrap .lang_select ul {
  display: none;
  position: absolute;
  top: 62px;
  left: calc(50% + 10px);
  transform: translateX(-50%);
  background: #fff;
  box-shadow: 2px 5px 19px 0px rgba(0, 0, 0, 0.25);
  z-index: 120;
  padding: 20px 0px;
  width: 130px;
}

.header .menu_wrap .lang_select ul:before {
  content: "";
  width: 0;
  height: 0;
  display: block;
  border-bottom: 10px solid skyblue;
  border-top: 10px solid transparent;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.4s;
  /*width:26px;height:15px;display:block;
  background:url('../../../resource/images/com/lang_btn_arrow.png') no-repeat;*/
}

/* .header .menu_wrap .lang_select em{width:26px;height:15px;display:block;position:absolute;top:47px;left:calc(50% + 10px);transform:translateX(-50%);
	background:url('../../../resource/images/com/lang_btn_arrow.png') no-repeat;} */
.header .menu_wrap .lang_select ul li {
  display: block;
  width: 100%;
}

.header .menu_wrap .lang_select ul li a {
  text-align: center;
  display: block;
  width: 100%;
  line-height: 30px;
}

.header .menu_wrap .lang_select ul li a {
  color: #999;
  font-size: 20px;
}

.header .menu_wrap .lang_select ul li:hover a { /*background:#0a2148;*/
  color: #111;
}

.header .menu_wrap .lang_select.active > a:after {
  transform: rotate(180deg);
}

.header .menu_wrap .header_search {
  float: left;
  margin-right: 20px;
  margin-top: 38px;
}

.header .menu_wrap .header_search:before {
  content: "";
  float: left;
  width: 1px;
  height: 17px;
  background: #fff;
  opacity: 0.2;
  margin-right: 19px;
  margin-top: 5px;
}

.header .menu_wrap .header_search {
  float: left;
  overflow: hidden;
}

.header .menu_wrap .header_search input {
  float: left;
  width: 0px;
  height: 34px;
  opacity: 0;
  transition: all 1s;
  margin-left: -20px;
  padding: 0 10px;
  display: none;
}

.header .menu_wrap .header_search .btn_header_search {
  float: right; /*width:34px;height:34px;line-height:28px;background:#56719b;*/
  text-align: center;
}

.header .menu_wrap .header_search .btn_header_search img {
  display: inline-block;
  vertical-align: middle;
}

.header .menu_wrap .header_search .btn_header_search .white {
  display: none;
}

.header .menu_wrap .header_search.active input {
  width: 200px;
  opacity: 1;
  display: block;
  margin-left: 0px;
}

.header .menu_wrap .header_search .img_search_off {
  display: none;
}

.header .menu_wrap .header_search.active .img_search_on {
  display: none;
}

.header .menu_wrap .header_search.active .img_search_off {
  display: inline-block;
}

.header .allmenu {
  float: right;
  width: 100px;
  height: 100px; /*margin-right:-91px;*/
}

.header .allmenu:hover .btn_menu .line_menu.line_menu_mid {
  margin-left: -6px;
}

.header .allmenu .btn_menu {
  display: block;
  padding: 50px;
  box-sizing: border-box;
  text-align: center;
  position: relative;
  /*width: 25px;height: 17px;line-height: 32px;margin-top: 40px;margin-left:39px;*/
}

.header .allmenu .btn_menu .line_menu {
  display: block;
  height: 2px;
  width: 25px;
  left: 50%;
  margin-left: -14px;
  background: #fff;
  position: absolute;
  transition: all 0.25s ease-out;
}

.header .allmenu .btn_menu .line_menu.line_menu_caption {
  font-size: 0;
  width: 0;
  height: 0;
}

.header .allmenu .btn_menu .line_menu.line_menu_top {
  top: 42px;
}

.header .allmenu .btn_menu .line_menu.line_menu_mid {
  top: 50px;
  width: 25px;
  transition: all 0.4s;
}

.header .allmenu .btn_menu .line_menu.line_menu_bottom {
  top: 60px;
}

.header .allmenu .btn_menu.on .line_menu {
  transition: all 0.5 ease-in-out;
}

.header .allmenu .btn_menu.on .line_menu.line_menu_mid {
  display: none;
}

.header .allmenu .btn_menu.on .line_menu.line_menu_top {
  transform: rotate(-45deg);
  top: 45px;
}

.header .allmenu .btn_menu.on .line_menu.line_menu_bottom {
  transform: rotate(45deg);
  top: 45px;
}

.header.on {
  border-bottom: 1px solid #ddd;
  position: relative;
}

.header.on h1 a .white {
  display: none;
}

.header.on h1 a .black {
  display: block;
}

.header.on .menu_wrap .lang_select > a .white {
  display: none;
}

.header.on .menu_wrap .lang_select > a .black {
  display: inline-block;
}

.header.on .menu_wrap .header_search .btn_header_search .white {
  display: none;
}

.header.on .menu_wrap .header_search .btn_header_search .black {
  display: inline-block;
}

.header.on {
  background: #fff;
}

.header.on .gnb_wrap ul li a, .header.on .menu_wrap .login_wrap li a {
  color: #111;
}

.header.on .menu_wrap .login_wrap li.bar:after, .header.on .menu_wrap .lang_select:before, .header.on .menu_wrap .header_search:before {
  background: #cfcfcf;
  opacity: 1;
}

.header.on .allmenu {
  background: #c79a59;
  border: 0;
}

.header.on .allmenu .btn_menu .line_menu {
  background: #fff;
}

/*====================================*/
/* sitemap */
/*====================================*/
.siteMap_wrap {
  position: fixed;
  top: 103px;
  left: 0;
  width: 100%;
  height: calc(100% - 103px);
  z-index: -1;
  background: #fff;
  border-top: 1px solid #d9d9d9;
  transition: all 0.4s;
  opacity: 0;
}

.siteMap_wrap.on {
  opacity: 1;
  z-index: 16;
}

.siteMap_wrap .sitelist {
  padding: 40px 0;
  box-sizing: border-box;
}

.siteMap_wrap .sitelist + .sitelist {
  border-top: 1px solid #d9d9d9;
}

.siteMap_wrap .name .titname {
  font-size: 30px;
}

.siteMap_wrap .name .subname {
  font-size: 20px;
  color: #ddd;
  margin-left: 10px;
}

.siteMap_wrap .dep02_wrap {
  margin-top: 20px;
}

.siteMap_wrap .dep02_wrap .dep02_outer {
  display: flex;
  align-items: stretch;
  flex-flow: wrap;
  overflow: hidden;
}

.siteMap_wrap .dep02_wrap .dep02_outer + .dep02_outer {
  margin-top: 40px;
}

.siteMap_wrap .dep02_wrap .dep02_item {
  width: 20%;
  max-width: 224px;
  flex: 1 1 18%;
}

.siteMap_wrap .dep02_wrap .dep02_item + .dep02_item {
  margin-left: 40px;
}

.siteMap_wrap .dep02_wrap .dep02_item:nth-child(6) {
  margin-left: 0;
}

.siteMap_wrap .dep02_wrap .dep02_item:nth-child(n+6) {
  margin-top: 90px;
}

.siteMap_wrap .dep02_wrap .dep02_tit {
  display: block;
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  box-sizing: border-box;
  font-size: 20px;
  color: #666;
  font-weight: 500;
  border: 1px solid #ddd;
  position: relative;
  overflow: hidden;
  transition: all 0.2s;
}

.siteMap_wrap .dep02_wrap .dep02_tit:before {
  content: "";
  display: block;
  position: absolute;
  width: 200%;
  height: 200px;
  background: #a73b59;
  transform: translate(0, 0) rotate(-20deg);
  transition: all 0.5s;
  z-index: -1;
  bottom: 200%;
  left: -100%;
}

.siteMap_wrap .dep02_wrap .dep02_tit .arrow01 {
  float: right;
  margin-top: 18px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  display: none;
}

.siteMap_wrap .dep02_wrap .dep02_tit:hover {
  color: #fff;
}

.siteMap_wrap .dep02_wrap .dep02_tit:hover:before {
  bottom: -100%;
  left: -10%;
}

.siteMap_wrap .dep02_wrap .dep02_tit:hover .arrow01 {
  display: block;
}

.siteMap_wrap .dep02_wrap .dep02_tit.on {
  color: #fff;
}

.siteMap_wrap .dep02_wrap .dep02_tit.on:before {
  bottom: -100%;
  left: -10%;
}

.siteMap_wrap .dep02_wrap .dep02_tit.on .arrow01 {
  display: block;
}

.siteMap_wrap .dep02_wrap .dep02_item > ul {
  background: #f7f7f7;
  padding: 20px;
  box-sizing: border-box;
  height: 100%;
}

.siteMap_wrap .dep02_wrap .dep02_item > ul:hover .siteMap_wrap .dep02_wrap .dep02_tit {
  color: #fff;
}

.siteMap_wrap .dep02_wrap .dep02_item > ul:hover .siteMap_wrap .dep02_wrap .dep02_tit:before {
  bottom: -100%;
  left: -10%;
}

.siteMap_wrap .dep02_wrap .dep02_item > ul:hover .siteMap_wrap .dep02_wrap .dep02_tit .arrow01 {
  display: block;
}

.siteMap_wrap .dep02_wrap .dep02_item > ul > li:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background: #666;
  margin-right: 2px;
}

.siteMap_wrap .dep02_wrap .dep02_item > ul > li + li {
  padding-top: 20px;
}

.siteMap_wrap .dep02_wrap .dep02_item > ul > li a {
  font-size: 16px;
  color: #666;
}

.siteMap_wrap .dep02_wrap .dep02_item > ul > li:hover a {
  color: #840029;
  text-decoration: underline;
  font-weight: bold;
}

/* siteMap_mo */
.siteMap_mo {
  width: 95%;
  position: fixed;
  top: 0;
  right: -100%;
  z-index: 18;
  transition: all 0.4s;
  display: none;
}

.siteMap_mo:before {
  content: "";
  opacity: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.siteMap_mo.on {
  right: 0;
}

.siteMap_mo.on:before {
  opacity: 1;
  position: fixed;
}

.siteMap_mo .gnb_mo {
  height: 64px;
  background: #a73a59;
  padding: 14px 20px;
  box-sizing: border-box;
}

.siteMap_mo .gnb_mo .logmenu {
  float: left;
}

.siteMap_mo .gnb_mo .logmenu ul {
  display: none;
}

.siteMap_mo .gnb_mo .logmenu ul.on {
  display: block;
}

.siteMap_mo .gnb_mo .logmenu li {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 30px;
  display: inline-block;
}

.siteMap_mo .gnb_mo .logmenu li + li {
  margin-left: 5px;
}

.siteMap_mo .gnb_mo .logmenu li a {
  color: #fff;
  padding: 10px 20px;
  box-sizing: border-box;
  display: block;
  text-align: center;
}

.siteMap_mo .gnb_mo .btnmenu {
  float: right;
  padding-top: 7px;
}

.siteMap_mo .gnb_mo .btnmenu a {
  display: inline-block;
  width: 25px;
  height: 25px;
  vertical-align: top;
}

.siteMap_mo .gnb_mo .btnmenu a + a {
  margin-left: 10px;
}

.siteMap_mo .gnb_mo .btnmenu .lang_sel {
  width: 22px;
  height: 22px;
  margin-top: 2px;
}

.siteMap_mo .gnb_mo .btnmenu .lang_sel img {
  width: 100%;
}

.siteMap_mo .gnb_mo .btnmenu .siteMap_mo_close {
  position: relative;
}

.siteMap_mo .gnb_mo .btnmenu .siteMap_mo_close .line_menu {
  width: 25px;
  height: 2px;
  background: #fff;
  position: absolute;
}

.siteMap_mo .gnb_mo .btnmenu .siteMap_mo_close .line_menu_top {
  transform: rotate(-45deg);
  top: 12px;
}

.siteMap_mo .gnb_mo .btnmenu .siteMap_mo_close .line_menu_bot {
  transform: rotate(45deg);
  top: 12px;
}

.siteMap_mo .gnb_mo .btnmenu .siteMap_mo_close .line_menu_caption {
  font-size: 0;
  width: 0;
  height: 0;
}

.siteMap_mo .siteMap_menu .menu_title {
  float: left;
  width: 45%;
  height: calc(100vh - 64px);
  background: #c24a6c;
}

.siteMap_mo .siteMap_menu .menu_title ul li {
  position: relative;
}

.siteMap_mo .siteMap_menu .menu_title ul li.active {
  background: #a73a59;
}

.siteMap_mo .siteMap_menu .menu_title ul li.active:before {
  content: "";
  display: block;
  width: 4px;
  height: 100%;
  background: #e99b15;
  position: absolute;
  top: 0;
  left: 0;
}

.siteMap_mo .siteMap_menu .menu_title ul li a {
  color: #fff;
  font-size: 18px;
  opacity: 0.5;
  padding: 24px;
  padding-right: 0;
  box-sizing: border-box;
  display: block;
}

.siteMap_mo .siteMap_menu .menu_title ul li.active a {
  opacity: 1;
  font-weight: bold;
}

.siteMap_mo .siteMap_menu .menu_contents {
  float: left;
  width: 55%;
  height: calc(100vh - 64px);
  background: #fff;
}

.siteMap_mo .siteMap_menu .menu_contents .sitelist {
  display: none;
}

.siteMap_mo .siteMap_menu .menu_contents .sitelist.active {
  display: block;
}

.siteMap_mo .siteMap_menu .menu_contents .sitelist .sitelist_item {
  padding: 24px 20px;
  box-sizing: border-box;
  border-bottom: 1px solid #d9d9d9;
}

.siteMap_mo .siteMap_menu .menu_contents .sitelist .sitelist_item .title {
  font-size: 18px;
  color: #111;
  font-weight: 500;
}

.siteMap_mo .siteMap_menu .menu_contents .sitelist .sitelist_item ul {
  background: #f2f2f2;
  padding: 20px;
  margin-top: 20px;
}

.siteMap_mo .siteMap_menu .menu_contents .sitelist .sitelist_item ul li {
  line-height: 1;
  position: relative;
}

.siteMap_mo .siteMap_menu .menu_contents .sitelist .sitelist_item ul li + li {
  margin-top: 20px;
}

.siteMap_mo .siteMap_menu .menu_contents .sitelist .sitelist_item ul li:before {
  content: "";
  display: block;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background: #666;
  position: absolute;
  top: 50%;
  left: -5px;
  transform: translateY(-50%);
}

.siteMap_mo .siteMap_menu .menu_contents .sitelist .sitelist_item ul li a {
  font-size: 16px;
  color: #666;
}

/*====================================*/
/* location */
/*====================================*/
/*.location_bar{background-color: #fff; width: 100%;box-sizing:border-box;border-bottom:1px solid #ddd;}
.location_bar .inner02{padding: 22px 0;height:65px;box-sizing:border-box;}
.location_bar .inner02 > ul{display:flex;justify-content: center;width:calc(100% - 16px);float:left;}
.location_bar .inner02 > ul li{line-height:24px;height:24px;}
.location_bar .inner02 > ul li a span{font-size:18px;color:#555;}
.location_bar .inner02 > ul li + li{margin-left: 35px; position: relative;width:auto;}
.location_bar .inner02 > ul li + li:after {content: '|' ; display: block; position: absolute; margin-left: -17px; top:0; color: #ccc; font-size: 14px;}
.location_bar .inner02 > ul li.loca_page{width:200px;}
.location_bar .inner02 > ul li.loca_page > a{display: block; position: relative;padding-right: 30px;}
.location_bar .inner02 > ul li.loca_page > a:before{content: "";display: block; position: absolute; width:26px;height:26px;background-color:#eaeaea;border-radius:50%;right:-7px;top:0px;}
.location_bar .inner02 > ul li.loca_page > a:after{content: "";display: block; position: absolute; width: 0; height: 0; border-left: 5px solid transparent; border-right: 5px solid transparent ; border-bottom: 6px solid transparent; border-top:6px solid #555555; top: 9px; right: 0;}
.location_bar .inner02 > ul li a img{}

.location_bar .loca_depth{display: none;position:absolute;top:44px;left:0;background:#0d326f;padding:20px 20px;width:100%;box-sizing:border-box;z-index:20;min-width: 200px;}
.location_bar .loca_depth ul li{line-height:30px;}
.location_bar .loca_depth ul li a {font-size:13px;color:#acbedc;font-weight:300;display:inline-block;position:relative;}
.location_bar .loca_depth ul li:hover a {color:#fff;}
.location_bar .loca_depth ul li:hover a:after {border-bottom:1px solid #fff;display:block;width:100%;height:1px;position:absolute;bottom:0;left:0;content:'';}

.location_bar .inner02 > ul li.active > a{font-weight: 800;}
.location_bar .inner02 > ul li.active > a:after{transform:rotate(180deg);top:4px;} 
.location_bar .inner02 .url_copy{float:right;margin-left:auto;}
.location_bar .inner02 .url_copy a{display:block;}
.location_bar .inner02 .url_copy a img{width:16px;}
.location_bar .inner02 .url_copy:after{content:'';display:none;}*/
.location {
  border-bottom: 1px solid #ccc;
  padding: 20px 0;
  box-sizing: border-box;
}

.location.mo_show {
  display: none;
}

.location.mo_show .dep_2 {
  display: none;
}

.location .inner02 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.location .inner02 > li {
  position: relative;
}

.location .inner02 > li:after {
  content: "";
  display: block;
  width: 0px;
  height: 14px;
  position: absolute;
  transform: translate(0, -50%);
  top: 50%;
  right: 0;
  border-left: 1px solid #cccccc;
}

.location .inner02 .home {
  padding-right: 42px;
}

.location .inner02 [class*=dep_] {
  min-width: 240px;
}

.location .inner02 [class*=dep_] > a {
  font-size: 18px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.location .inner02 [class*=dep_] > a .txt {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: keep-all;
}

.location .inner02 [class*=dep_] > a .icon_select_round {
  margin-left: 20px;
}

.location .inner02 [class*=dep_] [class*=icon_select]:before {
  transition: all 0.5s;
}

.location .inner02 [class*=dep_].active [class*=icon_select] {
  background: none;
}

.location .inner02 [class*=dep_].active [class*=icon_select]:before {
  background: url("../../../resource/images/com/icon_select_red.png") center center no-repeat;
}

.location .inner02 .back {
  display: none;
  position: absolute;
  z-index: 5;
  left: 0;
  top: 0;
}

.location .inner02 .back .btn_back {
  display: block;
  width: 40px;
  height: 40px;
  background: url("../../../resource/images/com/icon_back.png") center no-repeat;
  background-size: 14px 24px;
}

.location .inner02 .url_copy {
  position: absolute;
  right: 0;
}

.location .inner02 .url_copy a {
  display: block;
}

.location .inner02 .url_copy a img {
  width: 16px;
}

.location .inner02 .url_copy:after {
  content: "";
  display: none;
}

[class*=icon_select] {
  display: inline-block;
}

[class*=icon_select]:after { /*접근성*/
  content: "";
  display: block;
  overflow: hidden;
  position: absolute;
  left: -9999px;
  width: 1px;
  height: 1px;
  margin: 0;
  padding: 0;
  background: none;
  font-size: 0;
  line-height: 0;
  text-indent: -99999px;
}

.icon_select {
  width: 10px;
  height: 5px;
  position: relative;
  display: inline-block;
}

.icon_select_round {
  width: 26px;
  height: 26px;
  background: #eaeaea;
  border-radius: 50%;
  position: relative;
}

.icon_select_round.bk {
  background: #373737;
}

.icon_select_round.bk:before {
  background: url("../../../resource/images/com/icon_select_w.png") center center no-repeat;
}

[class*=icon_select]:before {
  content: "";
  display: block;
  width: 10px;
  height: 5px;
  background: url("../../../resource/images/com/icon_select_bk.png") center center no-repeat;
  background-size: 100% auto;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

[class*=icon_select]:after {
  content: "리스트 열기";
}

.active [class*=icon_select]:after {
  content: "리스트 닫기";
}

.select_action {
  position: relative;
}

.select_action .con {
  display: none;
  position: absolute;
  margin-top: 20px;
  top: 100%;
  left: 0;
  background: var(--color-type-bg);
  width: 100%;
  z-index: 40;
}

.select_action .con li {
  position: relative;
}

.select_action .con li + li:after {
  content: "";
  display: block;
  width: 100%;
  height: 0px;
  border-top: 1px solid #fff;
  top: 0;
  left: 0;
  position: absolute;
}

.select_action .con li a {
  padding: 14px 28px;
  font-size: 15px;
  line-height: 20px;
  color: #666666;
  display: block;
}

.select_action > a {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.select_type01 {
  width: 100%;
  padding: 0 30px 0 10px;
  border: 0;
  border-bottom: 2px solid #000;
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  color: #111111;
  background: url("../../../resource/images/com/icon_select_linebk.png") center right 15px no-repeat;
  box-sizing: border-box;
}

.select_type01:focus {
  background: url("../../../resource/images/com/icon_select_linebk_ck.png") center right 15px no-repeat;
}

/*====================================*/
/* footer */
/*====================================*/
.footer { /*width:1920px;*/
  widtH: 100%;
  background: #f3f3f3;
  padding: 48px 0 90px;
  overflow: unset;
  position: relative;
  z-index: 1;
  margin: 0 auto;
}

.footer .footer_logo {
  float: left;
}

.footer .footer_content {
  float: left;
  margin-left: 212px;
}

.footer .footer_content ul li {
  float: left;
}

.footer .footer_content ul li.bar:after {
  content: "";
  float: left;
  margin: 0 16px;
  margin-top: 5px;
  width: 1px;
  height: 12px;
  background: #d1d1d1;
}

.footer .footer_content ul li a {
  color: #111;
  font-size: 16px;
  font-weight: 600;
}

.footer .footer_content .address {
  padding-top: 30px;
}

.footer .footer_content .address p {
  font-size: 14px;
  line-height: 26px;
  color: #888;
  font-weight: 400;
}

/* .footer .footer_content .address p:last-child{padding-top:53px;} */
.footer .footer_content .sns_linkwrap {
  margin-top: 40px;
}

.footer .footer_content .sns_linkwrap .f_sns {
  float: left;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  border-radius: 15px;
  padding: 0 18px 0 0;
}

.footer .footer_content .sns_linkwrap .f_sns + .f_sns {
  margin-left: 20px;
}

.footer .footer_content .sns_linkwrap .f_sns em {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.footer .footer_content .sns_linkwrap .f_sns span {
  font-size: 15px;
  color: #666;
  display: inline-block;
  vertical-align: middle;
  padding-left: 10px;
}

.footer .footer_content .sns_linkwrap .f_sns.s_naver em {
  background: url("../../../resource/images/com/f_sns_naver.png") no-repeat;
  background-size: 100%;
  display: inline-block;
  vertical-align: middle;
}

.footer .footer_content .sns_linkwrap .f_sns.s_you em {
  background: url("../../../resource/images/com/f_sns_you.png") no-repeat;
  background-size: 100%;
  display: inline-block;
  vertical-align: middle;
}

.footer .footer_site {
  float: right;
}

.footer .footer_site .f_select01 {
  position: relative;
  float: left;
}

.footer .footer_site .f_select01 + .f_select01 {
  margin-left: 10px;
}

.footer .footer_site .f_select01 > a {
  display: block;
  width: 255px;
  height: 55px;
  line-height: 55px;
  border-radius: 27.5px;
  background: #939296;
  transition: all 0.4s;
  padding: 0 25px;
  box-sizing: border-box;
  color: #fff;
  font-size: 16px;
  transition: all 0.4s;
}

.footer .footer_site .f_select01 > a em {
  float: right;
}

.footer .footer_site .f_select01 > a em:after {
  content: "+";
  display: block;
  font-size: 23px;
  margin-top: -2px;
}

.footer .footer_site .f_select01 .select_con {
  position: absolute; /*top:55px;max-height: 140px;overflow: hidden;overflow-y: auto;*/
  bottom: 55px;
  left: 0;
  background: #fff;
  width: 100%;
  z-index: 5;
  box-sizing: border-box;
  display: none;
  background: var(--color-type-bg);
}

.footer .footer_site .f_select01 .select_con li {
  position: relative;
}

.footer .footer_site .f_select01 .select_con li a {
  display: block;
  padding: 14px 28px;
  font-size: 16px;
  line-height: 20px;
  color: #666;
}

.footer .footer_site .f_select01 .select_con li:after {
  content: "";
  display: block;
  width: 100%;
  height: 0px;
  border-top: 1px solid #fff;
  position: absolute;
  top: 0;
  left: 0;
}

.footer .footer_site .f_select01 .select_con.scrollbox {
  height: 336px;
}

.footer .footer_site .f_select01.active {
  bottom: 0;
}

.footer .footer_site .f_select01.active > a {
  border-radius: 0;
  background: #333;
}

/* .footer .footer_site .f_select01.active .select_con{height:140px;} */
.footer .footer_certified {
  width: 100%;
  margin-top: 95px;
}

.footer .footer_certified img {
  width: 55px;
  float: left;
  margin: 0 18px;
}

.footer .footer_certified div {
  width: 315px;
  border: 1px solid #d1d1d1;
  border-radius: 2px;
  box-sizing: border-box;
  float: right;
  padding: 12px 20px 12px 0;
  display: flex;
  align-items: center;
}

.footer .footer_certified div > ul {
  float: left;
  width: calc(100% - 74px);
}

.footer .footer_certified div > ul li {
  color: #868686;
  font-size: 12px;
  line-height: 18px;
}

.footer .copylight {
  float: left;
  margin-left: 442px;
  margin-top: 50px;
}

.footer .copylight p {
  font-size: 14px;
  color: #888;
  font-weight: 400;
}

/*====================================*/
/* modal */
/*====================================*/
.modal_backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
  opacity: 0.7;
  overflow: hidden;
  display: none;
  z-index: 18;
  transition: all 0.4s;
}

.modal_outer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: 19;
  display: none;
}

.modal_wrap {
  width: 722px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  background-color: #fff;
  display: none;
}

.modal_wrap .modal_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 38px;
  height: 87px;
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;
}

.modal_wrap .modal_top .logo {
  display: block;
  width: 198px;
  height: 49px;
  background: url("../../../resource/images/com/logo_popup.png") no-repeat;
  background-size: 100%;
}

.modal_wrap .modal_top .btn_popupclose {
  display: block;
  width: 28px;
  height: 28px;
  background: url("../../../resource/images/com/btn_close01.png") no-repeat;
  background-size: 100%;
}

.modal_wrap .modal_con .modal_inner {
  box-sizing: border-box;
  padding: 0 38px 38px;
}

.modal_wrap .modal_con .guitxt p {
  font-size: 18px;
  color: #666;
  line-height: 26px;
}

.modal_wrap .modal_con .modal_inner .btn_wrap .btn {
  width: 190px;
}

.modal_wrap.modal-user-auth .modal_con.scrollbox {
  height: 600px;
}

/* 통합검색 - 서브페이지 */
.totalSearch_wrap {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 19;
  transition: all 0.4s; /*display:none;*/
  opacity: 0;
}

.totalSearch_wrap.on {
  opacity: 1;
}

.totalSearch_wrap .totalSearch_wrap_close {
  position: absolute;
  top: 40px;
  right: 40px;
}

.totalSearch_wrap .totalSearchbox > .inner02 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
}

.totalSearch_wrap .totalSearchbox > .inner02 .inputwrap {
  border-bottom: 1px solid #fff;
  padding-bottom: 10px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.totalSearch_wrap .totalSearchbox > .inner02 .inputwrap .inputwrap_input {
  width: calc(100% - 70px);
}

.totalSearch_wrap .totalSearchbox > .inner02 .inputwrap .inputwrap_input input {
  width: 100%;
  color: #fff;
  font-size: 40px;
  padding: 0 20px;
  box-sizing: border-box;
  text-align: center;
}

.totalSearch_wrap .totalSearchbox > .inner02 .inputwrap .inputwrap_input input::-moz-placeholder {
  color: #fff;
  font-size: 40px;
}

.totalSearch_wrap .totalSearchbox > .inner02 .inputwrap .inputwrap_input input::placeholder {
  color: #fff;
  font-size: 40px;
}

.totalSearch_wrap .totalSearchbox > .inner02 .inputwrap a {
  width: 50px;
  height: 50px;
  margin-left: 20px;
}

.totalSearch_wrap .totalSearchbox > .inner02 .hashtags {
  margin-top: 42px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.totalSearch_wrap .totalSearchbox > .inner02 .hashtags .tag {
  font-weight: 400;
  color: #fff;
  font-size: 26px;
  display: inline-block;
  line-height: 1;
  border-bottom: 0;
  padding-top: 20px;
  padding-left: 30px;
}

/* 실명인증 팝업 */
.modal_wrap .modal_con .subtit {
  font-size: 26px;
  color: #333;
  font-weight: 500;
}

.modal_wrap .modal_con .scrollbox {
  height: 140px;
  border: 1px solid #ddd;
  padding: 20px;
}

.modal_wrap .modal_con .agree_line {
  margin: 20px auto;
}

.modal_wrap .modal_con .con_input .flex {
  display: flex;
  align-items: center;
  padding: 0 18px;
  box-sizing: border-box;
  height: 90px;
  border-top: 1px solid #d9d9d9;
}

.modal_wrap .modal_con .con_input .flex p {
  font-size: 18px;
  color: #333;
  width: 140px;
}

.modal_wrap .modal_con .con_input .flex > div {
  width: calc(100% - 140px);
}

.modal_wrap .modal_con .con_input .flex input {
  border: 1px solid #ddd;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
}

.modal_wrap .modal_con .con_input .flex.phone {
  border-bottom: 1px solid #ddd;
}

.modal_wrap .modal_con .con_input .flex.phone input {
  width: calc(50% - 22px);
  float: left;
}

.modal_wrap .modal_con .con_input .flex.phone em {
  display: block;
  width: 8px;
  height: 1px;
  background-color: #ddd;
  margin: 26px 16px;
  float: left;
}

.modal_wrap .modal_con .con_input .flex.phone.col_3 input {
  width: calc(30% - 13px);
}

/* 진료예약신청 팝업 */
.modal_wrap .modal_con .textabox textarea {
  width: 100%;
  height: 287px;
  resize: none;
  padding: 30px;
  box-sizing: border-box;
  font-size: 18px;
}

.modal_wrap .modal_con .textabox textarea::-moz-placeholder {
  color: #888;
  font-size: 18px;
}

.modal_wrap .modal_con .textabox textarea::placeholder {
  color: #888;
  font-size: 18px;
}

/* 진료예약신청 팝업 */
.modal_wrap .modal_con .chat {
  float: left;
  width: calc(50% - 10px);
  height: 280px;
  border: 1px solid #ddd;
  box-sizing: border-box;
}

.modal_wrap .modal_con .chat:hover {
  border: 1px solid #a73b59;
}

.modal_wrap .modal_con .chat + .chat {
  margin-left: 20px;
}

/* 위치안내 팝업 */
.modal_wrap .modal_con .locaimg img {
  width: 100%;
}

/* 동의서,위임장 작성 방법 보기 */
.modal_wrap.modal-howto-img {
  width: 1280px;
}

.modal_wrap.modal-howto-img .modal_con .scrollbox {
  height: 600px;
}

/* 최근진료내역 불러보기 */
.modal_wrap.modal-outchart .modal_con .scrollbox {
  height: 400px;
}

/* 체크박스(원형) */
.agree_line {
  text-align: center;
  margin: 30px auto;
}

.agree_line .input_checkbox {
  position: relative;
}

.agree_line .input_checkbox span {
  margin-left: 8px;
}

.agree_line .input_checkbox input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
  cursor: pointer;
}

.agree_line .input_checkbox input {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #f3f3f3;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
}

.agree_line .input_checkbox input:after {
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  position: absolute;
  background-color: #f3f3f3;
}

.agree_line .input_checkbox input:checked:after {
  background-color: #a73b59;
}

.agree_line > span {
  font-size: 18px;
  color: #666;
  vertical-align: middle;
  padding-left: 8px;
}

/* 체크박스(v) */
.agree_line .input_checkbox.v input {
  width: 39px;
  height: 39px;
  border-radius: 50%;
  background-color: #ccc;
  border: 0;
  box-sizing: border-box;
}

.agree_line .input_checkbox.v input:after {
  content: "";
  width: 14px;
  height: 10px;
  border-radius: inherit;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  position: absolute;
  background: url("../../../resource/images/sub/checked_w.png") no-repeat;
  background-position: center;
}

.agree_line .input_checkbox.v input:checked {
  background-color: #a73b59;
}

/* 체크박스(v + small) */
.agree_line .input_checkbox.v.small input {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: #ccc;
  border: 0;
  box-sizing: border-box;
}

.agree_line .input_checkbox.v.small input:checked:after {
  background-color: #a73b59;
  width: 26px;
  height: 26px;
}

.agree_line.col_2 .input_checkbox {
  float: left;
  width: 50%;
  text-align: left;
  margin-bottom: 20px;
}

/*====================================*/
/* common */
/*====================================*/
body {
  position: relative;
}

.innermax {
  width: 1820px;
  width: 100%;
  margin: 0 auto;
}

.inner01 {
  max-width: 1720px;
  width: 100%;
  margin: 0 auto;
  padding: 0 40px;
  box-sizing: border-box;
}

.inner02 {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

.inner03 {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.inner04 {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}

.pc_show {
  display: block !important;
}

.tabmo_show {
  display: none !important;
}

.momo_show {
  display: none !important;
}

/*gotop*/
.gotop {
  position: fixed;
  bottom: 50px;
  right: 18px;
}

.gotop.on {
  position: absolute;
  bottom: 338px;
}

.gotop .btn_gotop {
  display: block;
}

/* 만족도도사 box */
#stftnArea {
  width: 1280px;
  margin: 0 auto 50px;
}

.satisfactionbox {
  border: 1px solid #ddd;
  border-top: 2px solid #111;
  padding: 40px;
  box-sizing: border-box;
}

.satisfactionbox .tit {
  font-size: 18px;
  color: #111;
  font-weight: bold;
}

.satisfactionbox .agree_line {
  margin: 20px auto;
}

.satisfactionbox .agree_line .input_checkbox {
  float: left;
}

.satisfactionbox .agree_line .input_checkbox + .input_checkbox {
  margin-left: 40px;
}

.satisfactionbox .agree_line .input_checkbox span {
  font-size: 18px;
  color: #666;
  vertical-align: middle;
  padding-left: 8px;
}

/* .satisfactionbox .sel_wrap{width: calc(100% - 190px); float: left;}
.satisfactionbox .sel_wrap .limbox{width: 1000px; display:inline-block; position: relative; border: 1px solid #ddd;box-sizing: border-box;}
.satisfactionbox .sel_wrap .limbox .lim_input{width: 1000px;border:0;height:48px;line-height:48px;padding:0 100px 0 20px;box-sizing: border-box;}
.satisfactionbox .sel_wrap .limbox .overtext{position: absolute; right: 10px; top: 17px;} */
.satisfactionbox .limwrap .sel_radio_wrap {
  float: left;
  width: calc(100% - 200px);
  position: relative;
}

.satisfactionbox .limwrap .sel_radio_wrap .lim_input {
  width: 100%;
  border: 1px solid #d9d9d9;
  height: 48px;
  line-height: 48px;
  padding: 0 100px 0 20px;
  box-sizing: border-box;
}

.satisfactionbox .limwrap .sel_radio_wrap .overtext {
  position: absolute;
  right: 10px;
  top: 17px;
}

.satisfactionbox .btn_wrap {
  float: right;
  height: 48px;
  line-height: 48px;
}

.satisfactionbox .btn_wrap span {
  line-height: 48px;
}

/*====================================*/
/* 1700 */
/*====================================*/
@media screen and (max-width: 1700px) {
  /* common */
  /* header 1700 */
  .header {
    width: 100%;
  }
  .header .gnb {
    margin-left: 0;
    width: calc(100% - 100px);
  }
  .header .gnb_wrap {
    margin-left: 0;
  }
  .header .gnb_wrap ul li {
    margin-left: 20px;
  }
  .header .gnb_wrap > ul > li > a {
    padding: 38px 20px;
  }
  /* footer 1700 */
  .footer .footer_content {
    margin-left: 40px;
  }
  .footer .copylight {
    margin-left: 250px;
  }
} /* END : 1700 */
/*====================================*/
/* 1400 */
/*====================================*/
@media screen and (max-width: 1400px) {
  /* common */
  /*gotop*/
  .gotop.on {
    bottom: 550px;
  }
  /* header 1400 */
  .header .gnb_wrap {
    display: none;
  }
  /* footer 1400 */
  .footer .footer_site {
    margin: 40px auto;
    width: 100%;
  }
  .footer .footer_site .f_select01 {
    width: calc(50% - 10px);
  }
  .footer .footer_site .f_select01 > a {
    width: 100%;
  }
  .footer .copylight {
    text-align: center;
    margin: 0 auto;
    width: 100%;
  }
} /* END : 1400 */
/*====================================*/
/* 1300 */
/*====================================*/
@media screen and (max-width: 1300px) {
  /* common */
  #stftnArea {
    width: calc(100% - 80px);
    margin: 0 40px 50px;
  }
  .satisfactionbox .sel_wrap .limbox {
    width: 100%;
  }
  .satisfactionbox .sel_wrap .limbox .lim_input {
    width: 100%;
  }
  /* header 1300 */
  .header .gnb_wrap {
    margin-left: 0;
  }
  /* sitemap */
  .siteMap_wrap > .inner02 {
    padding: 0 40px;
    box-sizing: border-box;
  }
  .siteMap_wrap .dep02_wrap .dep02_item {
    max-width: 100%;
    flex: inherit;
    width: calc(50% - 20px);
    overflow: hidden;
  }
  .siteMap_wrap .dep02_wrap .dep02_item:nth-child(2n-1) {
    margin-left: 0;
  }
  .siteMap_wrap .dep02_wrap .dep02_item:nth-child(n+3) {
    margin-top: 40px;
  }
  .siteMap_wrap .dep02_wrap .dep02_tit:before {
    height: 500px;
  }
} /* END : 1300 */
/*====================================*/
/* 1200 */
/*====================================*/
@media screen and (max-width: 1200px) {
  /* common */
  /* header 1200 */
  .header .gnb_wrap {
    display: none;
  }
} /* END : 1200 */
/*====================================*/
/* 1024 */
/*====================================*/
@media screen and (max-width: 1024px) {
  /* common */
  .innermax, .inner01, .inner02, .inner03, .inner04 {
    width: 100%;
    max-width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
  }
  .pc_show {
    display: none !important;
  }
  .tabmo_show {
    display: block !important;
  }
  .gotop.on {
    bottom: 700px;
  }
  /* header 1024 */
  .header {
    width: 100%;
    height: auto;
  }
  .header .gnb {
    padding: 0;
    margin-left: 0;
    width: calc(100% - 100px);
  }
  .header h1 {
    margin-left: 20px;
  }
  .header h1 a {
    width: auto;
    height: auto;
  }
  .header .empti, .header .gnb_wrap, .header .menu_wrap .login_wrap {
    display: none !important;
  }
  .header .menu_wrap .lang_select:before {
    display: none;
  }
  .header .allmenu {
    margin-right: 0;
  }
  /* footer 1024 */
  .footer {
    width: 100%;
    padding: 40px 0 100px;
  }
  .footer .footer_logo {
    width: 100%;
    text-align: center;
    float: none;
    display: block;
    margin-bottom: 20px;
  }
  .footer .footer_content {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    border-top: 1px solid #d9d9d9;
    padding-top: 40px;
  }
  .footer .footer_content .service {
    display: flex;
    justify-content: center;
  }
  .footer .footer_content .sns_linkwrap {
    text-align: center;
  }
  .footer .footer_content .sns_linkwrap .f_sns {
    float: none;
    display: inline-block;
  }
  .footer .footer_site {
    max-width: 520px;
    width: 100%;
    margin: 0 auto;
    float: none;
  }
  .footer .footer_site .f_select01 {
    margin-top: 40px;
  }
  .footer .footer_certified {
    padding-top: 40px;
  }
  .footer .footer_certified div {
    float: none;
    margin: 0 auto;
  }
  .footer .copylight {
    margin: 40px auto;
  }
} /* END : 1024 */
/*====================================*/
/* 750 */
/*====================================*/
@media screen and (max-width: 750px) {
  /* common */
  body, html, #contioner {
    font-size: 15px;
  }
  input, select {
    height: 40px;
    line-height: 40px;
  }
  .innermax, .inner01, .inner02, .inner03, .inner04 { /*padding:0 2.667vw;*/
    padding: 0 20px;
  }
  .tabmo_show {
    display: block !important;
  }
  .momo_show {
    display: block !important;
  }
  /* 221123 띠배너 추가 */
  .topbanner_wrap {
    display: none;
  }
  .container.topbanner_on {
    height: 100% !important;
  }
  .container.topbanner_on .section01 {
    height: auto !important;
  }
  .container.topbanner_on .section01 .fp-tableCell {
    height: auto !important;
  }
  /* END: 221123 띠배너 추가 */
  .container {
    padding-top: calc(13.333vw + 3px) !important;
  }
  /* gotop */
  .gotop {
    width: 10vw;
    height: 10vw;
    right: 3vw;
    bottom: 15vw;
  }
  .gotop img {
    width: 100%;
  }
  .gotop.on {
    bottom: 600px;
  }
  /* tab */
  .tab_ui .tab ul li {
    height: 40px;
  }
  .tab_ui .tab ul li a {
    line-height: 40px;
    font-size: 1em;
  }
  .tab_ui .tab ul li.active a {
    line-height: 37px;
  }
  .tab_ui .tab.col_4 ul li, .tab_ui .tab.col_5 ul li, .tab_ui .tab.col_6 ul li {
    width: 50% !important;
  }
  .tab_ui .tab.col_4 ul li.active {
    border-top: 3px solid #a73b59 !important;
  }
  .tab_ui .tab.col_4 ul li:nth-child(n+3) {
    border-top: 0;
  }
  .tab_ui .tab.col_4 ul li:nth-child(4) {
    border-left: 0 !important;
  }
  .tab_ui .tab.col_4 ul li:nth-child(n+3) {
    border-left: 1px solid #ccc;
  }
  .tab_ui .tab.col_5 ul li, .tab_ui .tab.col_6 ul li {
    width: 50%;
  }
  .tab_ui .tab.col_5 ul li.active {
    border-top: 3px solid #a73b59 !important;
  }
  .tab_ui .tab.col_5 ul li:nth-child(4) {
    border-left: 0 !important;
  }
  .tab_ui .tab.col_5 ul li:nth-child(n+3) {
    border-top: 0;
  }
  .tab_ui .tab.col_5 ul li:nth-child(n+3) {
    border-left: 1px solid #ccc;
  }
  .tab_ui .tab.col_6 ul li.active {
    border-top: 3px solid #a73b59 !important;
  }
  .tab_ui .tab.col_6 ul li:nth-child(n+3) {
    border-top: 0;
  }
  .tab_ui .tab.col_6 ul li:nth-child(2n+1) {
    border-left: 1px solid #ccc;
  }
  /* siteMap */
  .siteMap_wrap {
    display: none;
  }
  .siteMap_wrap.on {
    display: none;
  }
  .siteMap_mo {
    display: block;
  }
  /* modal */
  .totalSearch_wrap .totalSearch_wrap_close {
    top: 20px;
    right: 20px;
    width: 20px;
    height: 20px;
  }
  .totalSearch_wrap .totalSearch_wrap_close img {
    width: 100%;
  }
  /*agree*/
  .agree_line .input_checkbox input {
    width: 20px;
    height: 20px;
  }
  /*satisfactionbox*/
  .satisfactionbox .agree_line {
    margin: 10px auto;
  }
  .satisfactionbox .sel_wrap {
    width: 100%;
  }
  .satisfactionbox .sel_wrap .limbox .lim_input {
    height: 40px;
  }
  .satisfactionbox .btn_wrap span {
    line-height: 40px;
  }
  /* header 750 */
  .header {
    height: auto;
  }
  .header .gnb {
    width: calc(100% - 60px);
  }
  .header h1 {
    margin-left: 10px;
  }
  .header h1 a {
    width: auto;
    height: auto;
  }
  .header h1 a img {
    width: 200px;
  }
  .header .menu_wrap {
    margin-top: 0;
  }
  .header .menu_wrap .lang_select {
    margin-top: 21px;
    margin-left: 12px;
    margin-right: 12px;
  }
  .header .menu_wrap .lang_select .sel_lang {
    width: 100%;
    display: block;
  }
  .header .menu_wrap .lang_select img {
    width: 100%;
  }
  .header .menu_wrap .header_search {
    margin-top: 21px;
    margin-right: 12px;
  }
  .header .menu_wrap .header_search > a {
    width: 20px;
    height: 20px;
    display: block;
    margin-top: 0;
  }
  .header .menu_wrap .header_search img {
    width: 100%;
  }
  .header .menu_wrap .header_search:before {
    margin-right: 12px;
    margin-top: 4px;
    height: 15px;
  }
  .header .menu_wrap .lang_select, .header.on .menu_wrap .login_wrap li.bar:after, .header.on .menu_wrap .lang_select:before, .header.on .menu_wrap .header_search:before {
    display: none;
  }
  /* .header .allmenu{width:13.333vw;height:13.333vw;margin-top:0;} */
  .header .allmenu {
    width: 60px;
    height: 60px;
    margin-top: 0;
  }
  .header .allmenu .btn_menu {
    padding: 30px;
  }
  .header .allmenu .btn_menu .line_menu {
    margin-left: -10px;
    width: 20px;
  }
  .header .allmenu .btn_menu .line_menu.line_menu_top {
    top: 24px;
  }
  .header .allmenu .btn_menu .line_menu.line_menu_mid {
    top: 30px;
    width: 20px;
  }
  .header .allmenu .btn_menu .line_menu.line_menu_bottom {
    top: 36px;
  }
  .header .allmenu .btn_menu.on .line_menu.line_menu_top {
    top: 30px;
  }
  .header .allmenu .btn_menu.on .line_menu.line_menu_bottom {
    top: 30px;
  }
  /* footer 750 */
  .footer {
    padding: 20px 0 40px;
  }
  .footer .footer_logo img {
    width: 200px;
  }
  .footer .footer_content {
    padding-top: 20px;
  }
  .footer .footer_content ul li a {
    font-size: 1em;
  }
  .footer .footer_content ul li.bar:after {
    height: 10px;
    margin: 0.5vw 1vw;
  }
  .footer .footer_content .address {
    padding-top: 20px;
  }
  .footer .footer_content .address p {
    font-size: 1em;
    line-height: 20px;
  }
  .footer .footer_site .f_select01 {
    width: calc(50% - 10px);
  }
  .footer .footer_site .f_select01 > a {
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 1em;
    padding: 0 20px;
  }
  .footer .footer_site .f_select01 > a em:after {
    font-size: 1em;
    margin-top: 0;
  }
  .footer .footer_certified {
    padding-top: 40px;
  }
  .footer .footer_certified div {
    width: 65%;
    padding: 10px 20px 10px 0;
  }
  .footer .footer_certified img {
    width: 50px;
  }
  .footer .footer_certified div > ul li {
    font-size: 0.9em;
  }
  .footer .footer_site .f_select01 .select_con {
    bottom: 7vw;
  }
  .footer .footer_site .f_select01 .select_con li a {
    font-size: 1em;
    padding: 10px;
  }
  .footer .copylight p {
    font-size: 1em;
  }
} /* END : 750 */
/*====================================*/
/* 400 */
/*====================================*/
@media screen and (max-width: 400px) {
  /* common */
  .gotop.on {
    bottom: 500px;
  }
  /* footer */
  .footer .footer_certified div {
    width: 80%;
  }
  .footer .footer_certified {
    margin-top: 0;
    padding-top: 0;
  }
} /* END : 400 *//*# sourceMappingURL=common.css.map */